/.quarto/
.Rproj.user
.Rhistory
data/*.csv
data/*.xls
data/*xlsx
presentation/index_files/
presentation/index.html
presentation/01_partieMG_files/
presentation/02_partieKA_files/
travaux-pratiques/index_files/
travaux-pratiques/index.html
index_files/
*.html
!customMenu.html
!customPremierePage.html
!footer.html
*.pdf
*.log
*.sty
*.docx
*.odt
token.txt
_output/